<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<modules runAllManagedModulesForAllRequests="true">
  <remove name="WebDAVModule" />
</modules>
<handlers>
    <remove name="WebDAV" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
    <add name="iisnode" path="src/server.js" verb="*" modules="iisnode" />
</handlers>
<iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
<rewrite>
  <rules>
    <rule name="nodejs">
      <match url="(.*)" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
      </conditions>
      <action type="Rewrite" url="/src/server.js" />
    </rule>
  </rules>
</rewrite>

<security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="node_modules" />
      <add segment="iisnode" />
    </hiddenSegments>
                <verbs allowUnlisted="true">
                    <add verb="PUT" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                </verbs>
  </requestFiltering>
</security>
        <staticContent>
            <mimeMap fileExtension=".avif" mimeType="image/avif" />
        </staticContent>
</system.webServer>
 </configuration>